---
import BlogLayout from "../../layouts/BlogLayout.astro";
import getReadingTime from "reading-time";

export async function getStaticPaths() {
  const posts = await Astro.glob("./r/*.md");
  return Array.from(posts).map((p) => {
    return {
      params: {
        post: p.frontmatter.slug,
      },
      props: {
        name: p.frontmatter.slug,
        title: p.frontmatter.title,
        content: p.compiledContent(),
        text: p.rawContent(),
      },
    };
  });
}
const { title, content, text } = Astro.props;
const time = getReadingTime(text.toString());
---

<BlogLayout title={title}>
  <p class="text-zinc-700 dark:text-zinc-400">
    {time.text}
  </p>
  <article set:html={content} />
</BlogLayout>
