@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
body {
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

.prose blockquote p:first-of-type::before {
  content: none;
}

.prose blockquote p:first-of-type::before {
  content: none;
}
