---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
---

<Layout title="About">
  <Content>
    <h1>Hello there</h1>
    <p>
      I am Matthieu. An aspiring software engineering with a deep love for open
      source. I was studying bachelor of Computer Science <span>@NTU</span>.
      Feel free to connect with me and talk more about projects
    </p>
    <div class="flex container">
      <h1>Projects</h1>
    </div>
  </Content>
</Layout>
