@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.main-page {
  font-family: "Noto Sans", sans-serif;
  background-color: #cad5ed;
}

.top-navbar {
  background-color: #16254d;
  padding: 0;
  margin: 0;
	display: flex;
	z-index: 900;
}

.navbar-list {
  list-style-type: none;
}

.navbar-element {
  outline-width: 1.5px;
  outline-color: #ffffff;
  outline-style: dashed;
  font-size: 2em;
	float: left;
	/* margin-left: 1em; */
	padding: 10px;
}

.navbar-element a {
	display: block;
	text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.navbar-element a:hover {
	animation-duration: 1s;
	transition: all .2s ease-in ;
	background-color: #cad5ed;
	color: black;
}
