---
import Content from "../components/Content.astro";
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Banner />
  <Content class="mt-2">
    <h1>This is the index</h1>
    <h1>Hello there</h1>
    <p class="">
      I am Matthieu. An aspiring software engineering with a deep love for open
      source. I was studying bachelor of Computer Science <span
        class="text-green-500">@NTU</span
      >. Feel free to connect with me and talk more about projects
    </p>
    <div class="flex container">
      <h1>Projects</h1>
    </div>
  </Content>
</Layout>
