---
// import { Image } from "@astrojs/image/components";
import code from "../../images/code.webp";
---

<section class="relative mb-6 h-64 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <img
      src={code}
      class="object-cover min-w-full min-h-full inset-0 opacity-30"
      alt="Random C++ Code Image"
    />
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="uppercase text-sm py-4 mb-4">Welcome to</div>
    <div class="text-4xl font-mono">
      My Personal <span class="text-green-600 dark:text-green-500 animate-pulse"
        >Space</span
      >
    </div>
  </div>
</section>
