---
// import { Image } from "@astrojs/image/components";
import code from "../../images/code.webp";
---

<section class="relative mb-6 h-64 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <img
      src={code}
      class="object-cover min-w-full min-h-full inset-0 opacity-30"
      alt="Random C++ Code Image"
    />
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="uppercase py-4 mb-4 text-2xl">Welcome to</div>
    <div class="text-4xl font-mono" id="my-space"></div>
  </div>
</section>

<script>
  import Typewriter from "typewriter-effect/dist/core";
  new Typewriter("#my-space", {
    strings: ["My Personal Space"],
    autoStart: true,
    loop: true,
    pauseFor: 2500,
  });
</script>
