---
const today = new Date();
import IconLinks from "./IconLinks";
---

<footer class="text-zinc-500 p-4 text-center">
  <IconLinks />
  &copy; {today.getFullYear()}
  <a href="/">matdexir</a>. All rights reserved.
</footer>
