---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;
---

<a
  href={href}
  class="p-1 text-current gap-4 font-thin hover:animate-pulse hover:-translate-y-0.5"
  {...props}
>
  <slot />
</a>
