.not-prose p {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  gap: 2%;
}

.not-prose p img {
  margin-bottom: 2%;
}

@media screen and (max-width: 500px) {
  .not-prose p {
    /* justify-content: center; */
    gap: 4%;
  }
  .not-prose p img {
    margin-bottom: 4%;
    /* margin-right: auto; */
  }
  /* .not-prose p img:last-child { */
  /*   margin-right: 0; */
  /* } */
}
