---
import BaseHead from "../components/BaseHeader.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ScrollToTop from "../components/ScrollToTop";

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "" } = Astro.props;
---

<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
class="font-mono bg-zinc-100 h-screen flex flex-col dark:bg-zinc-900 text-emerald-800 dark:text-emerald-100 break-words leading-6 transition-colors duration-500"
  >
    <Header />
    <main class="pt-[56px] mb-auto">
      <slot />
    </main>
    <ScrollToTop client:load />
    <Footer />
  </body>
</html>
